<nav class="main-menu">
  <!-- <div class="sidebar-head">
    <img src="../../../assets/smca-logo.png" alt="" class="sidebar-img" />
  </div> -->
  <ul>
    <li>
      <span class="sidebar-list-hover" routerLink="/home">
        <i class="bi bi-bar-chart-line-fill"></i>
        <span class="nav-text"> Dashboard </span>
      </span>
    </li>
    <li class="child">
      <span class="sidebar-list-hover" routerLink="/user">
        <i class="bi bi-people-fill"></i>
        <span class="nav-text"> User </span>
      </span>
    </li>
    <li class="child">
      <span class="sidebar-list-hover" routerLink="/category">
        <i class="bi bi-collection-fill"></i>
        <span class="nav-text"> Category </span>
      </span>
    </li>
    <li class="child">
      <span class="sidebar-list-hover" routerLink="/request">
        <i class="bi bi-geo-alt"></i>
        <span class="nav-text"> Request </span>
      </span>
    </li>
  </ul>
</nav>
